<h2>Calculate your carbon footprint!</h2>

<%=form_tag '/responses' %>
<%=label_tag @question.content %>
<input type='hidden' name='survey_id' value='<%= @survey.id %>'>
<input type='hidden' name='question_id' value='<%= @question.id %>'>

<% if @question.choices %>

  <%= render 'choices' %>

<%end%>
