<h2>Calculate your carbon footprint!</h2>

<%=form_tag '/responses' %>
<%=label_tag @question.content %>
<input type='hidden' name='survey_id' value='<%= @survey.id %>'>
<input type='hidden' name='question_id' value='<%= @question.id %>'>

<% if @question.food_choices %>
  <%= render 'food_choices' %>
<%else%>
 <li>
<select name="quantity">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select></li>
<%= submit_tag 'Submit' %>
<%end%>

<% if @question.transportation_choices %>
  <%= render 'transportation_choices' %>
<%end%>
