<div class="row">
  <div class="medium-10 columns"></div>
<h2>Calculate your carbon footprint!</h2>
</div>
</div>

<% food_category = 1 %>
<% transportation_category = 2 %>
<% lifestyle_category = 3 %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<div class="row">
  <div class="medium-10 columns"></div>
<%=form_tag '/responses' %>
<%=label_tag @question.content %>
<%=hidden_field_tag 'survey_id', @survey.id %>
<%=hidden_field_tag 'question_id', @question.id %>
<div class="medium-2 columns">
</div>
</div>

<% if @question.category_id == food_category %>
<div>
  <p>Fun Fact</p>
  <%=@foodfacts.sample.content%>
</div>
    <%= render 'food_choices' %>
<%end%>

<% if @question.category_id == transportation_category %>
<div><%=@transfacts.sample.content%></div>
    <%= render 'transportation_choices' %>
<%end%>

<% if @question.category_id == lifestyle_category %>
<div><%=@lifefacts.sample.content%></div>
    <div class="row">
      <div class="medium-3">
    <%= render 'lifestyle_choices' %>
  </div>
  </div>
<%end%>
