
<div class="row" id="last-paragraph-for-index">
  <div class="small-10 columns" id="main">
    <h3 class="text-center">Our Story</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid, de quo nulla dissensio est? Ita multo sanguine profuso in laetitia et in victoria est mortuus. Vitae autem degendae ratio maxime quidem illis placuit quieta. Duo Reges: constructio interrete. In qua quid est boni praeter summam voluptatem, et eam sempiternam? Claudii libidini, qui tum erat summo ne imperio, dederetur. Quo modo autem philosophus loquitur? Ergo, si semel tristior effectus est, hilara vita amissa est?
    </p>
    <h3 class="text-center">About Us</h3>
    <p>
      At ille pellit, qui permulcet sensum voluptate. Tu autem, si tibi illa probabantur, cur non propriis verbis ea tenebas? Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Huius, Lyco, oratione locuples, rebus ipsis ielunior. Etsi qui potest intellegi aut cogitari esse aliquod animal, quod se oderit? Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Quae hic rei publicae vulnera inponebat, eadem ille sanabat.
    </p>
  </div>

  <div class="small-2 columns"></div>
</div>

<%if !current_user.present?%>
<div class="row" id="buttons-box">
  <div class="small-1 medium-2 columns"></div>
  <div class="small-5 medium-4 columns">

    <%= form_for Survey.new do |f| %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.submit "Calculate Your Carbon Footprint", class:"button" %>
    <% end %>

  </div>

  <div class="small-4 columns">
    <%= link_to "Log In", login_path, class: "login-button button" %>
  </div>

  <div class="small-4 columns">
    <%= link_to "Register", new_user_path, class: "register-button button" %>
  </div>
</div>

<%end%>






































