
<div class="row" id="last-paragraph-for-index">
  <div class="small-10 columns" id="main">
    <h3 class="text-center">A Quick Intro</h3>
    <p>
      The choices we make on a daily basis - what we eat, how we commute, what we wear, all contribute to greenhouse gas emissions causing climate change. Since the Industrial Revolution, carbon dioxide emissions in our atmosphere have increased consistently from the burning of fossil fuels such as coal, oil, and gas. This increase in carbon dioxide is affecting our climate in a dramatic way, increasing the number of extreme weather events. We are all responsible for climate change and we must all be part of the solution.


    </p>
    <h3 class="text-center">About LittleFoot</h3>
    <p>
      LittleFoot is joining this solution, by providing people with a carbon footprint calculator that offers unique insight into how our simple daily habits tie into carbon emissions. Completing our incredibly short survey will provide our users with estimates of your daily carbon footprint, as well as suggestions on how to reduce this footprint. LittleFoot seeks to help bring carbon impact and awareness to simple daily choices we all make, and in aggregate, have a big effect.
    </p>
  </div>

  <div class="small-2 columns"></div>
</div>

<%if !current_user.present?%>
<div class="row" id="buttons-box">
  <div class="small-1 medium-2 columns"></div>
  <div class="small-5 medium-4 columns">

    <%= form_for Survey.new do |f| %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.submit "Calculate Your Carbon Footprint", class:"button" %>
    <% end %>

  </div>

  <div class="small-4 columns">
    <%= link_to "Log In", login_path, class: "login-button button" %>
  </div>

  <div class="small-4 columns">
    <%= link_to "Register", new_user_path, class: "register-button button" %>
  </div>
</div>

<%end%>






































