<%= form_tag(users_path, method: 'post') do %>
  <div class="row register">
    <div class="small-4 columns">
      <%= label_tag :full_name %><br />
      <%= text_field_tag "user[full_name]", nil, placeholder: "Full Name" %>
    </div>

    <div class="small-4 columns">
      <%= label_tag :email %><br/>
      <%= text_field_tag 'user[email]', nil, placeholder: "email@email.com" %>
    </div>

    <div class="small-4 columns">
      <%= label_tag :password %><br/>
      <%= password_field_tag 'user[password]', nil, placeholder: "Password" %>
    </div>
  </div>

  <div class="row register">
    <div class="small-4 columns register">
      <%= label_tag :bio %><br/>
      <%= text_area_tag 'user[bio]', nil, placeholder: "Bio" %>
    </div>

    <div class="small-2 columns">
      <%= label_tag :city %><br/>
      <%= text_field_tag 'user[city]', nil, placeholder: "City" %>
    </div>

    <div class="small-1 columns">
      <%= label_tag :state %><br/>
      <%= text_field_tag 'user[state]', nil, placeholder: "__" %>
    </div>

    <div class="small-5 columns" id="register">

      <%= submit_tag('Register') %>

    </div>
  </div>

<% end %>
