<% @users.each do |user| %>
  <%= link_to user.full_name, user_path(user) %>
  <% if user.surveys.present?%>
  <ul>
    <li>Last Carbon footprint calculated on <%= user.surveys.last.created_at %>:</li>
    <li><%= user.surveys.last.calculate_footprint %> pounds of CO2</li>
  <%else%>
    <li>No carbon footprints calculated yet</li>
  <%end%>

  </ul>
<%end%>

<style>
    #map {
      width: 500px;
      height: 400px;
      margin: auto;
    }
  </style>

  <input id='lat' type='hidden' value='<%=@last_survey.latitude%>'>
  <input id='lng' type='hidden' value='<%=@last_survey.longitude%>'>


<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6GNayJV3odwNes9YMg_Jjs_SxyDSHD0&callback=initMap"
  type="text/javascript"></script>
