<h1>Welcome, <%=@user.full_name%></h1>
<%if current_user.surveys.present?%>
  <%if @user.surveys.last %>
    <h2>Last survey taken on <%= @user.surveys.last.format_date(@user.surveys.last.created_at)%>
      Score: <%=@user.surveys.last.calculate_footprint%> pounds of CO2</h2>

    <h2>Based on your past surveys, your average carbon emissions is <%=@user.average_carbon_footprint%> pounds of CO2 a day.</h2>

    <h3>Past Carbon Footprint results</h3>
    <ul>
      <% @user.surveys.each do |survey| %>
        <li>
        <%=format_date(survey.created_at)%>
        <%=survey.calculate_footprint%> pounds of CO2
        </li>
      <%end%>
      <%= @user.get_timeline(@user.surveys) %>

    </ul>
  <%end%>
<% else %>
  <h3>Hey <%=@user.full_name%>, you haven't taken any survey's yet!</h3><h3>Track your carbon footprint and <%=link_to "take your first survey here!", surveys_path, method: :post %></h3>
<%end%>


