<h1>Welcome, <%=@user.full_name%></h1>
<%if current_user.surveys.present?%>
  <%if @user.surveys.last %>
    <h2>Your last survey was taken on <%= format_date(@user.surveys.last.created_at)%><br>
      Score: <%=@user.surveys.last.calculate_footprint%> pounds of CO2</h2>

    <h2>Your average carbon emissions is <%=@user.average_carbon_footprint%> pounds of CO2 a day.</h2>

    <div id="bar-container" style="width:100%; height:400px;"></div>



    <h3>Past Carbon Footprint results</h3>
    <ul>
      <% @user.surveys.each do |survey| %>
        <li>
        <%=format_date(survey.created_at)%>
        <%=survey.calculate_footprint%> pounds of CO2
        </li>
      <%end%>


    </ul>
  <%end%>
<% else %>
  <h3>Hey <%=@user.full_name%>, you haven't taken any surveys yet!</h3>
  <%end%>


