<div class="row">
  <div class="small-12 small-centered columns">
    <h1>Welcome, <%=@user.full_name%></h1>
  </div>
</div>

<div class="row id="top">
  <div class="small-3 columns">
    <%if current_user.surveys.present?%>
      <%if @user.surveys.last %>
      <h3>Last Survey Taken:</h3>
    </div>

    <div class="small-3 columns">
      <%= format_date(@user.surveys.last.created_at)%>
      <h3><%=@user.surveys.last.calculate_footprint%> pounds of CO2</h3>
  </div>

  <div class="small-6 columns avg-emission">
    <h3>Average Carbon Emission:<br>
      <%=@user.average_carbon_footprint%> pounds of CO2</h3>
  </div>
</div>

<div clas="row">
  <div class="small-7 columns">
    <div id="bar-container"></div>
  </div>

  <div class="small-3 columns">
    <h3 id="list">Past Results:</h3>
    <ul>
      <% @user.surveys.each do |survey| %>
        <li>
          <%=format_date(survey.created_at)%>
          <%=survey.calculate_footprint%> pounds of CO2
        </li>
      <%end%>
    </ul>
    <%end%>
    <% else %>
      <h3>Hey <%=@user.full_name%>, you haven't taken any surveys yet!</h3>
    <%end%>
  </div>
  <div class="small-3 columns"></div>
</div>

