<h1>Survey Results</h1>

<h2>Total Carbon Footprint:
  <span id='total-carbon'><%= @survey.calculate_footprint%></span> pounds of CO2</h2>

<table>
  <tr>
    <td><b>Category</b></td>
    <td><b>Carbon Dioxide Emissions</b></td>
  </tr>
  <tr>
    <td>Food</td>
    <td id='food-data'><%=@survey.calculate_footprint_by_category('food')%> lbs</td>
  </tr>
  <tr>
    <td>Transportation</td>
    <td id='transportation-data'><%=@survey.calculate_footprint_by_category('transportation')%> lbs</td>
  </tr>
  <tr>
    <td>Lifestyle</td>
    <td id='lifestyle-data'><%=@survey.calculate_footprint_by_category('lifestyle')%> lbs</td>
  </tr>
</table>

<div id="container" style="width:100%; height:400px;"></div>


<%if @survey.calculate_footprint > 0 %>

  <h3>The response you gave that had the highest CO2 value was:</h3>
  <table id='worst-impact-item-table'>
    <tr>
     <td>The survey question was:</td>
     <td><%=@survey.worst_response_carbon_offender.question.content %></td>
    </tr>
    <tr>
     <td>Your answer: </td>
     <td><%= @survey.worst_response_carbon_offender.impact_item.name %></td>
    </tr>
    <tr>
      <td>Quantity:</td>
        <%if @survey.worst_response_carbon_offender.multiplier %>
          <td><%= (@survey.worst_response_carbon_offender.quantity)/(@survey.worst_response_carbon_offender.multiplier.value) %></td>
        <%else%>
          <td><%= @survey.worst_response_carbon_offender.quantity %></td>
        <%end%>
    </tr>
    <tr>
      <td>Carbon amount:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.carbon %></td>
    </tr>
    <tr>
      <td>Total carbon footprint for this response:</td>
      <td><%= (@survey.worst_response_carbon_offender.impact_item.carbon * @survey.worst_response_carbon_offender.quantity).round(2) %> pounds of CO2</td>
    </tr>
    <tr>
      <td>Tips for reducing:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.suggestion %></td>
    </tr>
    <%if @survey.worst_response_carbon_offender.multiplier %>
    <tr>
      <td>Note! You selected this as a <%= @survey.worst_response_carbon_offender.multiplier.name %></td>
      <td><%= @survey.worst_response_carbon_offender.multiplier.suggestion %></td>
    </tr>
    <% end %>
  </table>
  <!-- <h3>How you stack up against the average American</h3> -->
  <!-- average american carbon footprint daily: 109.5890 -->

<%else%>

  <h3>Hmmm... Great! You have zero carbon footprint for today!! Or maybe you didn't answer any questions ;) </h3>

<%end%>

<div id="bargraph2-container" style="width:100%; height:400px;"></div>




