<h1>Calculated Results</h1>
<h2>Total Carbon Footprint:
  <%= @survey.calculate_footprint%> pounds of CO2</h2>

<h3>Carbon Footprint by category</h2>
<ul>
<li>Food</li>
<p><%= @survey.calculate_footprint_by_category('food')%> pounds of CO2</p>
<li>Transportation</li>
<p><%= @survey.calculate_footprint_by_category('transportation')%> pounds of CO2</p>
<li>Lifestyle</li>
<p><%= @survey.calculate_footprint_by_category('lifestyle')%> pounds of CO2</p>


<li>Worst Item calculated</li>
  <table id='worst-impact-item-table'>
    <tr>
     <td>The survey question was:</td>
     <td><%=@survey.worst_response_carbon_offender.question.content %></td>
    </tr>
    <tr>
     <td>Your answer: </td>
     <td><%= @survey.worst_response_carbon_offender.impact_item.name %></td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><%= @survey.worst_response_carbon_offender.quantity %></td>
    </tr>
    <tr>
      <td>Carbon amount:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.carbon %></td>
    </tr>
    <tr>
      <td>Total carbon footprint for this response:</td>
      <td><%= (@survey.worst_response_carbon_offender.impact_item.carbon * @survey.worst_response_carbon_offender.quantity).round(2) %> pounds of CO2</td>
    </tr>
    <tr>
      <td>Tips for reducing:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.suggestion %></td>
    </tr>
  </table>
</ul>
  <style>
    #map {
      width: 500px;
      height: 400px;
      margin: auto;
    }
  </style>

  <input id='lat' type='hidden' value='<%=@survey.latitude%>'>
  <input id='lng' type='hidden' value='<%=@survey.longitude%>'>

  <input id='radius'>


<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=ASK-PATRICK-FOR-KEY&callback=initMap"
  type="text/javascript"></script>

<%=link_to "Calculate Your Carbon Footprint", surveys_path, method: :post %>


