<h1>End of Survey Results</h1>

<h2>Total Carbon Footprint:
  <span id='total-carbon'><%= @survey.calculate_footprint%></span> pounds of CO2</h2>

<table>
  <tr>
    <td><b>Category</b></td>
    <td><b>Carbon Dioxide Emissions</b></td>
  </tr>
  <tr>
    <td>Food</td>
    <td id='food-data'><%=@survey.calculate_footprint_by_category('food')%></td>
  </tr>
  <tr>
    <td>Transportation</td>
    <td id='transportation-data'><%=@survey.calculate_footprint_by_category('transportation')%></td>
  </tr>
  <tr>
    <td>Lifestyle</td>
    <td id='lifestyle-data'><%=@survey.calculate_footprint_by_category('lifestyle')%></td>
  </tr>
</table>

<div id="container" style="width:100%; height:400px;"></div>

<li>Worst Item calculated</li>
  <table id='worst-impact-item-table'>
    <tr>
     <td>The survey question was:</td>
     <td><%=@survey.worst_response_carbon_offender.question.content %></td>
    </tr>
    <tr>
     <td>Your answer: </td>
     <td><%= @survey.worst_response_carbon_offender.impact_item.name %></td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><%= @survey.worst_response_carbon_offender.quantity %></td>
    </tr>
    <tr>
      <td>Carbon amount:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.carbon %></td>
    </tr>
    <tr>
      <td>Total carbon footprint for this response:</td>
      <td><%= (@survey.worst_response_carbon_offender.impact_item.carbon * @survey.worst_response_carbon_offender.quantity).round(2) %> pounds of CO2</td>
    </tr>
    <tr>
      <td>Tips for reducing:</td>
      <td><%= @survey.worst_response_carbon_offender.impact_item.suggestion %></td>
    </tr>
    <%if @survey.worst_response_carbon_offender.multiplier %>
    <tr>
      <td>Note, you selected this as a <%= @survey.worst_response_carbon_offender.multiplier.name %>, this means that the carbon impact of this item because of this is multiplied by <%= @survey.worst_response_carbon_offender.multiplier.value%>. So <%= (@survey.worst_response_carbon_offender.quantity)/(@survey.worst_response_carbon_offender.multiplier.value) %> multiplied by <%= @survey.worst_response_carbon_offender.multiplier.value %> = <%= @survey.worst_response_carbon_offender.quantity %></td>
      <td><%= @survey.worst_response_carbon_offender.multiplier.suggestion %></td>
    </tr>
    <% end %>
  </table>

</ul>
  <style>
    #map {
      width: 500px;
      height: 400px;
      margin: auto;
    }
  </style>

  <input id='lat' type='hidden' value='<%=@survey.latitude%>'>
  <input id='lng' type='hidden' value='<%=@survey.longitude%>'>


<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6GNayJV3odwNes9YMg_Jjs_SxyDSHD0&callback=initMap"
  type="text/javascript"></script>









<%=link_to "Calculate Your Carbon Footprint", surveys_path, method: :post %>


