<h1>End of Survey Results</h1>
<h2>Total Carbon Footprint:
  <%= @survey.calculate_footprint%> pounds of CO2</h2>

<h3>Carbon Footprint by category</h2>
<ul>
<li>Food</li>
<p><%= @survey.calculate_footprint_by_category('food')%> pounds of CO2</p>
<li>Transportation</li>
<p><%= @survey.calculate_footprint_by_category('transportation')%> pounds of CO2</p>
<li>Lifestyle</li>
<p><%= @survey.calculate_footprint_by_category('lifestyle')%> pounds of CO2</p>


<li>Worst Impact Item</li>
<p><%= @survey.worst_impact_item_carbon_offender.name%> Carbon amount: <%= (@survey.worst_response_carbon_offender.quantity * @survey.worst_impact_item_carbon_offender.carbon)%> Survey Question: <%=@survey.worst_question_carbon_offender.content %></p>
</ul>

<%=link_to "Calculate Your Carbon Footprint", surveys_path, method: :post %>
